/* Header */
.Header{
    display: flex;
    /* background-color: #495e57; */
    background-image: url('./images/Briyani.jpg');
    height: 300px;
    padding: 30px;
    .info{
        flex: 1;
    }
}

.Header h1{
    font-family: markazi;
    font-size: medium 64pt;
    color: #f4ce14;
}

.Header h2{
    font-family: karla;
    font-size: regular 40pt;
    color: #edefee;
}

.Header p{
    color: #edefee;
}

.Header button{
    padding: 2px;
    border-radius: 5px;
    border: 2px solid #ffcc00;
    background-color: #f4cb00;
}

.Header button:hover{
    background-color: #ffcc00;
    padding: 3px;
    transition: 0.1s;
}
.Header .image img{
    height: 35vh;
    border-radius: 5px;
}

/* Main */
.container1{
    display: flex;
}

.container1 h1{
    font-size: 20pt extra bold;
    flex:1;
}

.container1 button{
    margin-right: 20px;
    align-self: center;
    padding: 2px;
    border-radius: 5px;
    background-color: #ffd500;
    border: 2px solid #ffcc00;
}

.container1 button:hover{
    background-color: #ffcc00;
    padding: 3px;
    transition: 0.1s;
}

.container2{
    display: flex;
}

.container2 section{
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    background-color: #edefee;
}

.container2 section:hover{
    background-color: #e6e6e6;
}

/* Footer */

