.Nav{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}
.Nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
.link {
    display: block;
    color: #333333;
    text-align: center;
    padding: 3.5vh;
    text-decoration: none;
}
.logo1 img{
    width: 10vw;
    text-align: center;
    display: block;
    padding: 2.2vh;
}
.link:hover {
    background-color: #edefee;
}

.Login{
    margin-left: auto;
    img{
        text-align: center;
        display: block;
        padding: 2vh;
        width: 6vh;
    }
}