.Nav{
    display: flex;
    .logo{
        padding: 16px;
    }
}
.Nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
li {
    float: left;
}
.link {
    display: block;
    color: #333333;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.link:hover {
    background-color: #edefee;
}

.Login{
    margin-left: auto;
}